@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.adjust-line-height {
  line-height: 1em;
}

.App-header {
  background-color: #add8e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kreon';
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.button {
  background-color: #0e2f54;
  padding: 10px;
  width: 178px;
  height: 85px;
  align-items: center;
  text-align: center;
  border: white;
}
.button-font {
  font-family: 'Roboto Condensed';
  font-size: 18px;
  color: #FFF;
  align-items: center;
  text-align: center;
  
}
.title{
  font-family: 'Kreon';
  font-size: 18px;
  color: #62C6F2;
  align-items: center;
  text-align: center;
}

.otherWords{
  font-family: 'Inter';
  font-size: 30px;
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
